.Create-div {
  width: 100%;
  height: 100vh;
}
.Create-post {
  width: 100%;
  font-family: var(--secondarty-font);
  color: aliceblue;
  padding: 10px;
  height: 100%;
}
.heading {
  display: flex;
  margin-bottom: 10px;
}
.create-icon {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: aqua;
}
.formdiv {
  width: 100%;
}
.Create-post-form {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.Create-post-form input {
  width: 90%;
  border-radius: 0;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  padding: 10px;
  color: white;
  border: none;
  border: 1.2px solid aqua;
  border-radius: 8px;
}
.Create-post-form textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  color: white;
  border: 1.2px solid aqua;
  border-radius: 8px;
}
.Create-post-form label {
  padding-left: 0px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
}
.buttons button {
  padding: 8px 20px;
  border-radius: 18px;
  font-size: 15px;
  font-weight: 600;
  color: aliceblue;
  border: 1.2px solid black;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
.switch {
  display: flex;
  gap: 5px;
  float: right;
}

.post-btn {
  padding: 5px 8px 5px 8px;
  background-color: rgb(204, 192, 192);
  border: none;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}
.tag-btn {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  background-color: rgb(204, 192, 192);
  color: black;

  cursor: pointer;
}
.isActive {
  background-color: rgb(0, 128, 255);
  border: 1.2px solid aqua;
  color: aliceblue;
}

/* Saved Styling */
.bookMark_page {
  height: 100vh;
  color: white;
}
.removeAnimation {
  opacity: 0;
}
.bookMark_page {
  background-color: var(--bg-color);
  width: 100%;
  color: aliceblue;
  position: relative;
  margin: 0 auto;
}

/* Explore page Styling */

.explore_page {
  font-family: "Segoe UI";
  color: white;
  width: 100%;
  height: 100vh;
}
.input_search {
  width: 90%;
  background-color: rgb(54, 54, 54);
  border: none;
  color: white;
  &:active {
    border: none;
  }
}
.input-tab {
  display: flex;
  align-items: center;
  border: 1.2px solid grey;
  border-radius: 5px;
  padding-left: 5px;
}
.input-tab input {
  background-color: var(--bg-color);
  border-radius: 0;
  outline: none;
  border: none;
  margin-bottom: 0;

  color: white;
}
.explore-tab {
  width: 95%;
  margin: 0 auto;
}
.display_search {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-row-gap: 2em;
  justify-content: space-between;
}

/* people-page styling */

.people-page {
  color: white;
  font-family: "Segoe UI";
  width: 100%;
}
.people-tab {
  display: flex;
  gap: 5px;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  justify-content: space-between;
  &:hover {
    opacity: 0.9;
    border-bottom: 1.2px solid grey;
    border-top: 1.2px solid grey;
  }
}
.user-detail {
  display: flex;
  gap: 10px;
}
.user-content {
  display: flex;
  flex-direction: column;
}
.follow-btn {
  background-color: rgb(0, 128, 255);
  color: aliceblue;
  font-size: small;
  font-weight: 500;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 99;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    transform: translateY(4);
  }
}
/* notification page styling ----------------------- */
.notification-page {
  color: white;
  font-family: "Segoe UI";
  width: 100%;
  height: 100vh;
}
.notification-page h2 {
  margin-bottom: 15px;
}
.notifyTab {
  display: flex;
  align-items: center;
  background-color: rgb(65, 64, 64);
  padding: 8px 5px 8px 5px;
  border-radius: 10px;
  gap: 6px;
}
.username1 {
  color: rgb(201, 73, 73);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 580px) {
  .display_search {
    grid-template-columns: repeat(auto-fill, 120px);
  }
}
