.carouselCard {
  display: flex;
  color: white;
  border-bottom: 1.2px solid grey;
  padding-top: 5px;
}
.img_avatar {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.post-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(201, 73, 73);
  font-family: var(--secondarty-font);
}
.date {
  color: rgb(129, 129, 129);
  font-style: italic;
  font-size: smaller;
}
.post-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.img-post {
  width: 87%;
  height: 87%;
  object-fit: contain;
  border-radius: 20px;
  border: 1.2px solid grey;
  padding-bottom: 0px;
}
.logos_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.tags {
  color: aqua;
  padding-left: 2px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    opacity: 0.7;
  }
}
.logos_bottom div {
  padding: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    color: aqua;
    transition: 0s;
    transform: scale(1.05);
  }
}

/* Blogcard styling */
.blogcard {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1.2px solid white;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    border: 2px solid aqua;

    opacity: 0.7;
  }
}
.inside {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 52px;
  width: 100%;
  border-radius: 50px;
  height: 100%;
}
.blogcard:hover .inside {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

@media screen and (max-width: 580px) {
  .blogcard {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
  .inside {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
}
